<h1 class="title-book">Best Seller Books</h1>

<h2 class="js-list">Category 1</h2>
<ul class="js-list-bestBooks">
  <li class="js-list-bestBooks" id="book1">
    <img
      src="book1-image.jpg"
      alt="Book 1"
      data-id="book1"
      class="img-bestBooks"
    />
    <h3 class="js-named-bestBooks">Book 1 Title</h3>
    <p class="js-author-bestBooks">Author 1</p>
  </li>

  <li class="js-list-bestBooks" id="book2">
    <img
      src="book1-image.jpg"
      alt="Book 2"
      data-id="book2"
      class="img-bestBooks"
    />
    <h3 class="js-named-bestBooks">Book 2 Title</h3>
    <p class="js-author-bestBooks">Author 2</p>
  </li>

  <li class="js-list-bestBooks" id="book3">
    <img
      src="book1-image.jpg"
      alt="Book 3"
      data-id="book3"
      class="img-bestBooks"
    />
    <h3 class="js-named-bestBooks">Book 3 Title</h3>
    <p class="js-author-bestBooks">Author 3</p>
  </li>

  <li class="js-list-bestBooks" id="book4">
    <img
      src="book1-image.jpg"
      alt="Book 4"
      data-id="book4"
      class="img-bestBooks"
    />
    <h3 class="js-named-bestBooks">Book 4 Title</h3>
    <p class="js-author-bestBooks">Author 4</p>
  </li>

  <li class="js-list-bestBooks" id="book5">
    <img
      src="book1-image.jpg"
      alt="Book 5"
      data-id="book5"
      class="img-bestBooks"
    />
    <h3 class="js-named-bestBooks">Book 5 Title</h3>
    <p class="js-author-bestBooks">Author 5</p>
  </li>
</ul>
<button class="js-btn-bestBooks" data-js="category1">See more</button>
